<!DOCTYPE html>
<html>
<head>
<style>
  *{  
  margin:0;
  padding:0;
}


body{
  
  background-color:#f0f0fdsgf0;
  font-family:helvetica;
}
input[type=text], select, textarea {
    width: 93%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: -3px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 11px;
    resize: vertical;
  }
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    
}

input[type=submit]:hover {
  background-color: #45a049;
    width: 250px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.containerr {
   width: 406px;
    max-width: 406px;
    margin: 0 auto;

}

</style>
</head>
<body>



<br><div class="containerr">
     <%=form_for :friend,url: posts_create_path,:html=>{:id=>"submit", :multipart => true} do |f|%>


      <div class="row"> 
        <div class="col-sm-12">
        <div class="form-group">
          <label>Title</label> 
          <textarea type="text" id="summernote" name="title" placeholder="Enter Description"  class="form-control1" autocomplete="off" rows="4" style="border-radius:5px;"></textarea>
        </div>
         </div>
         </div>

    <label for="lname">Body</label>
    <input type="text" id="lname" name="body" placeholder="">

    <label class="file"style="width:20px;padding-right:215px;">

                    <input type="file" id='add-logo-tag' name="image" onchange='readImageURL(event)' aria-label="File browser example"  required>
    
   <br><input type="submit" name="Submit" value="sumbit" onclick="myFunction()">

   <%end%>

</div>

</body>

</html>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js">
  
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript"> 
 

      $('#summernote').summernote({
        placeholder: 'Enter Description Here',
        tabsize: 2,
        height: 100,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'l', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });


      $('#short').summernote({
        placeholder: 'Enter Short Description Here',
        tabsize: 2,
        height: 100,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });

      var file = ""
      var readImageURL = function(event){
      var componentId = event.target.id
      var getImagePath = URL.createObjectURL(event.target.files[0]);
      $('.'+componentId).attr("src",getImagePath );
      file = event.target.files[0]
   }

  function myFunction() 
  {

    var name = document.getElementById('fname').value;
    var b = document.getElementById('lname').value;
    
    if (name == "")
    {
      swal("Warning","Please enter valid title ","warning");
      return false;
    }
    if (b == "")
    {
      swal("Warning","Please enter valid title ","warning");
      return false;
    }
    
    else
    {
   return true;
    }
 
  alert(a);
}

</script>




